.title-inline {
  display: inline-block;
}
.CodeMirror {
  height: 100%;
}
.code-display {
  font-size: small;
  font-family: "Lucida Console", Monaco, monospace;
}
.text-address {
  width: 5.5em;
}
.text-address-gutter {
  padding-left: 0.5em;
  font-size: 0.8em;
}
.current-instruction {
  background-color: cyan;
}
.mem-table.table-condensed > tbody > tr > td {
  border: none;
}
.text-muted {
  color: #ddd;
}
#mem-stack {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
  table-layout: fixed;
  width: 100%
}
.mem-frame { background-color: #DDF; }
#reg-eip { color: rgb(29,203,203); }
#reg-esp { color: #5C7; }
.ptr-esp { background-color: #6F6; }
.ptr-esp-delta { color: #4C4; }
#reg-ebp { color: #F99; }
.ptr-ebp { background-color: #F99; }
.ptr-ebp-delta { color: #EAA; }

